<nav id="navbar" class="shadow-box">
    <ul class="container">
        <li class="navbar-item"><a href="/">HOME</a></li>
        <li class="navbar-item"><a href="/about">ABOUT</a></li>
    </ul>
</nav>