<section id="about" class="shadow-box border-radius">
    <div class="wrapper">
        <h1 class="heading">Fibonacci Tool</h1>
        <h4 class="description">This tool is made to calculate fibonacci numbers, and prints out a list of fibonacci numbers in the range entered by the user.</h4>
        <ul class="steps">
            <li class="step">
                <b>Step 1:</b> Enter your range number in input
            </li>
            <li class="step">
                <b>Step 2:</b> Click Submit button
            </li>
            <li class="step">
                <b>Step 3:</b> If you wanna remove all result (reset), Click Clear button
            </li>
        </ul>
        <h4>Note:</h4>
        <ul class="notes">
            <li class="note">If your number is too large, some results may be printed as <b class="note_special">Infinity</b> number and may also cause the browser to crash</li>
            <li class="note">To solve that problem. For example, you enter a too large number and submit, when a result is <b class="note_special">Infinity</b>, the calculation and printing will stop.</li>
            <li class="note">So the maximum number of fibonacci printed <b class="note_special">may not be as expected</b></li>
        </ul>
    </div>
</section>