<section id="home" class="shadow-box border-radius">
    <div class="wrapper container-row">
        <div class="row">
            <div class="feature row column-two">
                <label>Enter your <b>Number</b></label>
                <input type="number" class="number-input border-radius">
                <button class="number-input-submit btn shadow-box border-radius">Submit</button>
                <button class="number-input-clear btn shadow-box border-radius">Clear</button>
            </div>
            <div class="fibonacci-number column-one">
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="result">
                <div class="wrapper">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
</section>